/* use root */
:root {
  --light-bg: white;
  --overlay: rgba(0, 0, 0, 0.5);
}
.logo a {
  text-decoration: none;
  color: var(--light-bg);
}

.hero {
  background-image: url("../img/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.hero-title {
  font-size: 3rem;
  font-weight: 600;
  color: var(--light-bg);
}
.overlay {
  background-color: var(--overlay);
  height: 100%;
}
header {
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
}

#header .logo a {
  color: #fff !important;
}
.box-shadow-full {
  padding: 4rem;
}
.about-mf {
  background-color: var(--light-bg);
}
.w-85 {
  width: 85% !important;
}

.w-90 {
  width: 90% !important;
}

.title-s {
  font-weight: 600;
  color: #1e1e1e;
  font-size: 1.1rem;
}
.skill-mf .progress {
  background-color: #cde1f8;
  margin: 0.5rem 0 1.2rem 0;
  border-radius: 0;
  height: 0.7rem;
}

.title-box-2 {
  font-weight: 600;
  color: #1e1e1e;
  font-size: 1.1rem;
  margin-bottom: 3rem;
}

.title-left {
  font-size: 2rem;
  position: relative;
}

.title-left::before {
  content: "";
  position: absolute;
  height: 3px;
  background-color: #0078ff;
  width: 100px;
  bottom: -12px;
}
.title-a {
  text-decoration: none;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}

.line-mf {
  width: 40px;
  height: 5px;
  background-color: #0078ff;
  margin-top: 1rem;
  margin-bottom: 4rem;
  margin-left: auto;
  margin-right: auto;
}
.s-title {
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: center;
  padding: 0.4rem 0;
}

.service-box {
  text-align: center;
  padding: 1.5rem;
  background-color: var(--light-bg);
  border-radius: 0.8rem;
  margin-bottom: 3rem;
  -webkit-box-shadow: 0px 8px 17px -9px rgba(0, 0, 0, 0.71);
  -moz-box-shadow: 0px 8px 17px -9px rgba(0, 0, 0, 0.71);
  box-shadow: 0px 8px 17px -9px rgba(0, 0, 0, 0.71);
}
.service-ico {
  margin-top: 1.8rem;
  margin-bottom: 4rem;
  color: #1e1e1e;
}

.ico-circle {
  border: 0.7rem solid #0078ff;
  border-radius: 50%;
  padding: 1.5rem 2rem;
  font-size: 2.7rem;
  text-align: center;
}

.service-box:hover .ico-circle {
  color: var(--light-bg);
  background-color: #0078ff;
  border: 0.7rem solid;
  border-color: #b3c4d8bb;
  transition: all 0.6s ease-in-out 0s;
}

body {
  background-color: #f5f5f5;
}

#header .header-scrolled {
  background: rgba(0, 0, 0, 0.9);
  padding: 12px 0;
}

.section-counter {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../img/counters-bg.jpg");
  position: relative;
  background-attachment: fixed;
  width: 100%;
}
.overlay-mf {
  background-color: #0077ff6a;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0px;
}

.counter-ico {
  margin-bottom: 1rem;
}
.counter-ico .ico-circle {
  height: 60px;
  width: 60px;
  line-height: 1.5;
  border: 0.7rem solid #cde1f8;
  border-radius: 50%;
  padding: 0.25rem 0.75rem;
  font-size: 2.7rem;
  text-align: center;
}

.paralax-mf {
  position: relative;
  padding: 8rem 0;
}

.counter-box {
  color: #fff;
}

.counter-num p {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 0;
}
.counter-num span {
  font-size: 1rem;
  text-transform: uppercase;
}
/* ==================================================== */
.work-box {
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
  margin-bottom: 3rem;
  overflow: hidden;
}
.work-box .work-img {
  width: 100%;
}

.w-title {
  font-size: 1.1rem;
  font-weight: 600;
  color: #1e1e1e;
  margin-bottom: 0.5rem;
}

.work-content {
  background-color: var(--light-bg);
}

.w-like {
  font-size: 2.5rem;
  color: #0078ff;
}

.w-ctegory {
  font-size: 0.8rem;
  font-weight: 600;
  color: #0078ff;
}

.w-date {
  font-size: 0.8rem;
  font-weight: 600;
  color: #1e1e1eb4;
}

.work-box:hover .work-img {
  transition: 0.4s;
  transform: scale(1.1);
}

.testimonials {
  background-image: url("../img/overlay-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}

.overlay-mf {
  background-color: #0077ff6a;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0px;
}
.carousel-item img {
  width: 15%;
  margin-bottom: 1.5rem;
}
.carousel-item {
  margin-bottom: 5rem;
}

.carousel {
  margin-top: 10%;
}

.carousel-item p {
  font-size: 1.5rem;
  font-weight: 300;
  color: #fff;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.carousel-indicators button {
  width: 15px !important;
  height: 15px !important;
  border-radius: 50%;
  border: none;
  margin: 0 5px;
  background-color: #fff;
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}

.blog-mf {
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.card-content {
  overflow: hidden;
}

.clock-content {
  font-size: 1.2rem;
}

.card-category-box {
  transform: translateY(-50%);
}

.category {
  font-size: 0.8rem;
  font-weight: 600;
  background-color: #0078ff;
  text-align: center;
  width: fit-content;
  padding: 0.4rem 0.6rem;
  color: white;
  border-radius: 0.2rem;
  /* transform: translate(255%, -50%); */
  display: inline-block;
  letter-spacing: 0.1px;
  margin-bottom: 0;
}

a {
  color: #1e1e1e;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

.card-blog .post-date {
  color: #4e4e4e;
}

.avatar {
  width: 2rem;
  margin-right: 4px;
  overflow: hidden;
}

.card-text {
  padding-bottom: 0.9rem;
}

.contact {
  background-image: url("../img/overlay-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  width: 100%;
  padding: 0;
  padding-top: 7rem;
  padding-bottom: 1.5rem;
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}

.container-contact {
  position: relative;
  background-color: var(--light-bg);
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
  margin-bottom: 3rem;
}

.overlay-contact-mf {
  background-color: #0077ff6a;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0px;
}
.submit-btn {
  width: fit-content;
  padding: 0.8rem 1.5rem;
  margin: auto;
  border-radius: 2rem;
}
.contact-details {
  list-style: none;
  padding: 0;
}
.icon-contact {
  font-size: 1rem;
  margin-right: 0.5rem;
}
.contact-details li {
  margin-bottom: 0.6rem;
}
.icon-contact-2 {
  font-size: 1rem;
  margin-right: 1rem;
}
.icon-contact-2 i {
  font-size: 1.2rem;
  border-color: #0078ff;
  border-style: solid;
  padding: 0.5rem;
}
/* target when nav */

/* body:has(.home:target) .home-link {
  padding-bottom: 0.2rem;
  border-bottom: 2px solid #f8fbff;
  border-radius: 1px;
} */
.w-like a {
  font-size: 2.5rem;
  color: #0078ff;
}

.contact-header::before {
  content: "";
  position: absolute;
  height: 3px;
  background-color: #0078ff;
  width: 100px;
  top: 46px;
}
.touch-header::before {
  content: "";
  position: absolute;
  height: 3px;
  background-color: #0078ff;
  width: 100px;
  top: 94px;
}

/* * {
  outline: 1px solid red;
} */

.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #0078ff;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}
